{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}

  com.cognitect.aws/api {:mvn/version "0.8.686"}
  com.cognitect.aws/endpoints {:mvn/version "1.1.12.504"}
  com.cognitect.aws/route53 {:mvn/version "847.2.1365.0"}

  org.clojure/data.json {:mvn/version "2.4.0"}
  com.amperity/dialog {:mvn/version "2.0.115"}
  http-kit/http-kit {:mvn/version "2.7.0"}}

 :aliases
 {:build
  {:deps {org.clojure/clojure {:mvn/version "1.11.1"}
          org.clojure/tools.build {:mvn/version "0.8.4"}}
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"
              "-Dclojure.spec.skip-macros=true"]
   :ns-default build}

  :dev
  {:extra-paths ["dev" "target/classes"]
   :extra-deps {org.clojure/tools.namespace {:mvn/version "1.3.0"}
                mvxcvi/puget {:mvn/version "1.3.2"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
              "-Daws.region=us-west-2"]}

  :repl
  {:jvm-opts ["-Ddialog.profile=repl"]
   :main-opts ["-e" "(require,'puget.printer)"
               "-e" "(clojure.main/repl,:init,#(do,(require,'dynr53.repl),(in-ns,'dynr53.repl)),:print,puget.printer/cprint)"]}

  :check
  {:extra-deps {io.github.athos/clj-check {:git/sha "0ca84df1357d71429243b99908303f45a934654c"}}
   :main-opts ["-m" "clj-check.check"]}

  :run
  {:jvm-opts ["-Ddialog.profile=repl"]
   :main-opts ["-m" "dynr53.main"]}}}
